form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    margin: 8rem auto;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: .8rem;
    background-color: #f9f9f9;
  
    input, button, select {
        width: 100%;
        padding: .8rem;
        margin: .6rem 0;
        font-size: 1rem;
    }
  
    button {
        cursor: pointer;
        border: none;
        background-color: #b91c1c;
        color: white;
        border-radius: .3rem;
    
        &:hover {
            background-color: #860d0d;
        }
    }

    select {
        border: 1px solid #ccc;
        border-radius: 0.3rem;
        background-color: white;
        cursor: pointer;
    
        &:focus {
            outline: none;
            border-color: #b91c1c;
            box-shadow: 0 0 0 2px rgba(185, 28, 28, 0.3);
        }
    }
}

.errors {
    color: red;
}