<div class="header-flex-container">
    <div class="header-title">
        <p>Disease System</p>
    </div>
    <div class="header-links">
        <a routerLink="/">Home</a>
        <a *ngIf="isLoggedIn$ | async" routerLink="/doctor">Doctors</a>
        <a *ngIf="userService.role === 'Doctor'" routerLink="/disease">Disease Form</a>
        <a *ngIf="userService.role === 'User'" routerLink="/patient">Patient Intake Form</a>
        <a *ngIf="userService.role === 'User'" routerLink="/appointment">Schedule Appointment</a>
    </div>
    <div class="header-login">
        <button *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</button>
        <button *ngIf="isLoggedIn$ | async" (click)="logout()">Logout</button>
    </div>
</div>