<form [formGroup]="doctorForm" (ngSubmit)="submit()">
    <h3>Doctor Information Form</h3>
    <p *ngIf="message$ | async as message" class="errors">{{ message }}</p>
  
    <div class="form-group">
        <label for="name">Full Name</label>
        <input id="name" type="text" formControlName="name" />
    </div>
  
    <div class="form-group">
        <label for="contact">Contact Info</label>
        <input id="contact" type="text" formControlName="contact" />
    </div>
  
    <div class="form-group">
        <label for="specialty">Specialty</label>
        <input id="specialty" type="text" formControlName="specialty" />
    </div>
  
    <div class="form-row">
        <div class="form-group">
            <label for="experience">Experience (Years)</label>
            <input id="experience" type="number" formControlName="experience" />
        </div>
  
        <div class="form-group">
            <label for="fees">Consultation Fees</label>
            <input id="fees" type="number" formControlName="fees" />
        </div>
    </div>
  
    <div class="form-group">
        <label>Availability</label>
        <div class="checkbox-group">
            <div *ngFor="let day of daysOfWeek" class="checkbox-item">
            <input 
                type="checkbox"
                [value]="day"
                (change)="onCheckboxChange($event)"
                id="{{day}}"
            />
            <label for="{{day}}">{{ day }}</label>
            </div>
        </div>
    </div>
  
    <button type="submit" [disabled]="doctorForm.invalid">Save Info</button>
</form>